{% if site.footer-links.dribbble %}<a href="{{ site.footer-links.dribbble }}" target="_blank"><i class="svg-icon dribbble"></i></a>{% endif %}
{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></a>{% endif %}
{% if site.footer-links.facebook %}<a href="{ {site.footer-links.facebook }}" target="_blank"><i class="svg-icon facebook"></i></a>{% endif %}
{% if site.footer-links.flickr %}<a href="{{ site.footer-links.flickr }}" target="_blank"><i class="svg-icon flickr"></i></a>{% endif %}
{% if site.footer-links.github %}<a href="{{ site.footer-links.github }}" target="_blank"><i class="svg-icon github"></i></a>{% endif %}
{% if site.footer-links.instagram %}<a href="{{ site.footer-links.instagram }}" target="_blank"><i class="svg-icon instagram"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="{{ site.footer-links.linkedin }}" target="_blank"><i class="svg-icon linkedin"></i></a>{% endif %}
{% if site.footer-links.pinterest %}<a href="{{ site.footer-links.pinterest }}" target="_blank"><i class="svg-icon pinterest"></i></a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml" target="_blank"><i class="svg-icon rss"></i></a>{% endif %}
{% if site.footer-links.twitter %}<a href="{{ site.footer-links.twitter }}" target="_blank"><i class="svg-icon twitter"></i></a>{% endif %}
{% if site.footer-links.stackoverflow %}<a href="{{ site.footer-links.stackoverflow }}" target="_blank"><i class="svg-icon stackoverflow"></i></a>{% endif %}
{% if site.footer-links.youtube %}<a href="{{ site.footer-links.youtube }}" target="_blank"><i class="svg-icon youtube"></i></a>{% endif %}
{% if site.footer-links.googleplus %}<a href="{{ site.footer-links.googleplus }}" target="_blank"><i class="svg-icon googleplus"></i></a>{% endif %}